<div class="container my-5">
  <div class="row">

    <div class="col-7">
      <div class="row">
        <div class="col-4">
          <h3 class="font-weight-bold mb-5">店舗新規登録</h3>
        </div>
      </div>

      <%= form_with model: @space, url:admin_spaces_path do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <%= f.label :images, "店舗画像" %>
            <p><%= f.file_field :images, multiple:true, accept: "image/*" %></p>
          </div>
          <div class="form-group">
            <%= f.label :name, "店舗名" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, "店舗紹介文" %>
            <%= f.text_area :introduction, :size=>"10x10", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :genre_id, "ジャンル" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, option = {include_blank: '--選択してください--'}, class: "form-control col-6" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, class: "form-control" %>
            <input type="button" value="緯度経度を特定" onclick="codeAddress()", class= "btn-info rounded">
          </div>
          <div class="form-group">
            <%= f.label :latitude, "緯度" %>
            <%= f.text_field :latitude, class: "form-control col-6" %>
          </div>
          <div class="form-group">
            <%= f.label :longitude, "経度" %>
            <%= f.text_field :longitude, class: "form-control col-6" %>
          </div>
          <div class="form-group">
            <%= f.label :telephone_number, "電話番号" %>
            <%= f.text_field :telephone_number, class: "form-control col-6" %>
          </div>
          <div class="form-group">
            <%= f.label :transportation, "交通手段" %>
            <%= f.text_area :transportation, :size=>"10x5", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :website, "WEBサイトURL" %>
            <%= f.text_field :website, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :business_hours, "営業時間" %>
            <%= f.time_select :start_time, {minute_step: 15, default: {hour: 0, minute: 0}} %>
            <%= f.time_select :end_time, {minute_step: 15, default: {hour: 0, minute: 0}} %>
          </div>
          <div class="form-group">
            <%= f.label :private_room, "個室" %>
            <%= f.radio_button :private_room, true %>
            <%= f.label :private_room, '有' %>
            <%= f.radio_button :private_room, false %>
            <%= f.label :private_room, '無' %>
          </div>
          <div class="form-group">
            <%= f.label :smoking, "喫煙・喫煙" %>
            <%= f.radio_button :smoking, true %>
            <%= f.label :smoking, '喫煙可' %>
            <%= f.radio_button :smoking, false %>
            <%= f.label :smoking, '禁煙' %>
          </div>
          <div class="form-group">
            <%= f.label :parking, "駐車場" %>
            <%= f.radio_button :parking, true %>
            <%= f.label :parking, '有' %>
            <%= f.radio_button :parking, false %>
            <%= f.label :parking, '無' %>
          </div>
          <div class="form-group">
            <%= f.label :wifi, "Wi-Fi" %>
            <%= f.radio_button :wifi, true %>
            <%= f.label :wifi, '有' %>
            <%= f.radio_button :wifi, false %>
            <%= f.label :wifi, '無' %>
          </div>
          <div class="form-group">
            <%= f.label :outlet, "コンセント" %>
            <%= f.radio_button :outlet, true %>
            <%= f.label :outlet, '有' %>
            <%= f.radio_button :outlet, false %>
            <%= f.label :outlet, '無' %>
          </div>
          <div class="form-group">
            <%= f.label :is_active, "店舗ステータス" %>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, '有効' %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, '閉店' %>
          </div>
          <div class="form-group">
            <%= f.submit :新規登録, class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-5">
      <div id='map'></div>

      <style>
      #map {
        height: 450px;
        width: 450px;
      }
      </style>

      <script>
      let map

      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:35.6815472961328, lng:139.76909301923038},
          zoom: 15,
        });

      }

      let geocoder

      function codeAddress(){
        let inputAddress = document.getElementById('space_address').value;


        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });

            document.getElementById('space_latitude').value = results[0].geometry.location.lat();
            document.getElementById('space_longitude').value = results[0].geometry.location.lng();

            // console.log(results[0].geometry.location);
            // console.log(results[0].geometry.location.lat());
            // console.log(results[0].geometry.location.lng());

          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>
    </div>
  </div>
</div>




