<!--管理者の店舗詳細画面-->

<div class="container my-5">

  <div class="row">
    <h1 class="font-weight-bold pl-3"><%= @space.name %></h1>
    
    <div class="mb-4 ml-5">
      <h4 class="mt-2 text-danger font-weight-bold"><%= @space.average_rating %></h4>
      <div id="rating-rate<%= @space.id %>"></div>
        <script>
          $('#rating-rate<%= @space.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            readOnly: true,
            score: <%= @space.average_rating || 0 %>,
            half: true
          });
        </script>
    </div>
    <div class="pl-5">
      <%= link_to "編集する", edit_admin_space_path, class: "btn btn-success mt-3 mb-3" %>
    </div>
  </div>

  <!--店舗設備-->
  <div class="row">
    <div class="col-lg-7">
      <!--画像スライドの部分テンプレート-->
      <%= render 'admin/spaces/image', space: @space, url: admin_spaces_path %>
      <p class="mt-5"><%= @space.introduction %></p>
    </div>
    <div class="col-lg-4">
      <h5 class="font-weight-bold mb-3 mt-5">設備</h5>
        <table class="table table-table-bordered">
          <tbody>
            <tr>
              <td class="col-5 bg-light font-weight-bold">個室</td>
              <td>
                <% if @space.private_room? %>
                  <span>有</span>
                <% else %>
                  <span>無</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="col-5 bg-light font-weight-bold">喫煙・禁煙</td>
              <td>
                <% if @space.smoking? %>
                  <span>喫煙可</span>
                <% else %>
                  <span>禁煙</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="col-5 bg-light font-weight-bold">駐車場</td>
              <td>
                <% if @space.parking? %>
                  <span>有</span>
                <% else %>
                  <span>無</span>
                <% end %>
              </td>
            </tr>
              <td class="col-5 bg-light font-weight-bold">Wi-Fi</td>
              <td>
                <% if @space.wifi? %>
                  <span>有</span>
                <% else %>
                  <span>無</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="col-5 bg-light font-weight-bold">コンセント</td>
              <td>
                <% if @space.outlet? %>
                  <span>有</span>
                <% else %>
                  <span>無</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <!--店舗基本情報-->
  <div class="row">
    <div class="col-10">
      <h5 class="font-weight-bold mt-5 mb-3">店舗基本情報</h5>
        <table class="table table-table-bordered">
          <tbody>
            <tr>
              <td class="col-2 bg-light font-weight-bold">住所</td>
              <td>
                <div class="mb-3"><%= @space.address %></div>
                <div id='map'></div>
                <style>
                #map {
                  height: 400px;
                  width: 100%;
                }
                </style>
                <script>
                let map
                function initMap(){
                  geocoder = new google.maps.Geocoder()

                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: <%= @space.latitude %>, lng: <%= @space.longitude %>},
                    zoom: 16,
                  });

                  marker = new google.maps.Marker({
                    position:  {lat: <%= @space.latitude %>, lng: <%= @space.longitude %>},
                    map: map
                  });

                  var latLng = {lat: <%= @space.latitude %>, lng: <%= @space.longitude %>},
                  infoWindow = new google.maps.InfoWindow({
                    position: latLng,
                    content: `
                    <div>
                      <h6><%=j @space.name %></h6>
                      <%=j @space.address %>
                    </div>
                    `
                  });
                  marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                  });
                }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>
              </td>
            </tr>
            <tr>
              <td class="col-2 bg-light font-weight-bold">電話番号</td>
              <td><%= @space.telephone_number %></td>
            </tr>
            <tr>
              <td class="col-2 bg-light font-weight-bold">交通手段</td>
              <td><%= @space.transportation %></td>
            </tr>
            <tr>
              <td class="col-2 bg-light font-weight-bold">営業時間</td>
              <td><%= @space.start_time.strftime('%H:%M') %>〜<%= @space.end_time.strftime('%H:%M') %></td>
            </tr>
            <tr>
              <td class="col-2 bg-light font-weight-bold">WEBサイトURL</td>
              <td><%= link_to @space.website, @space.website %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <!--レビュー-->
  <div class="row">
    <div class="col-lg-10 mt-5 pt-5">
      <% @reviews.each do |review|%>
        <div class=card>
          <h6 class="pt-3 ml-3"><%= review.customer.name %></h6>
          <h6 class="mt-2 text-danger font-weight-bold ml-3">
            <%= review.rating %>
            <div id="rating-rate<%= review.id %>"></div>
            <script>
              $('#rating-rate<%= review.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                readOnly: true,
                score: <%= review.rating || 0 %>,
                half: true
              });
            </script>
          </h6>
          <p class="mt-4 ml-3"><%= review.comment %></p>
          <%= link_to '投稿を削除', admin_review_path(review.id),method: :delete, data: { confirm: '本当にいいですか?' }, class: "text-danger pb-3 ml-3 text-decoration-none"%>
        </div>
      <% end %>
    </div>
  </div>
</div>