<div class="container my-5">

  <div class="row">
    <h3 class="border rounded shadow-sm font-weight-bold px-3">店舗詳細</h3>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
      <%= image_tag @space.get_image, size: '300x300', class: "rounded" %>
    </div>
    <div class="col-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>店舗名</td>
            <td><%= @space.name %></td>
          </tr>
          <tr>
            <td>店舗紹介文</td>
            <td><%= @space.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @space.genre.name %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @space.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @space.telephone_number %></td>
          </tr>
          <tr>
            <td>交通手段</td>
            <td><%= @space.transportation %></td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td><%= @space.start_time.strftime('%H:%M') %>〜<%= @space.end_time.strftime('%H:%M') %></td>
          </tr>
          <tr>
            <td>個室</td>
            <td>
              <% if @space.private_room? %>
                <span>有</span>
              <% else %>
                <span>無</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>喫煙・禁煙</td>
            <td>
              <% if @space.smoking? %>
                <span>喫煙可</span>
              <% else %>
                <span>禁煙</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>駐車場</td>
            <td>
              <% if @space.parking? %>
                <span>有</span>
              <% else %>
                <span>無</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Wi-Fi</td>
            <td>
              <% if @space.wifi? %>
                <span>有</span>
              <% else %>
                <span>無</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>コンセント</td>
            <td>
              <% if @space.outlet? %>
                <span>有</span>
              <% else %>
                <span>無</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>WEBサイトURL</td>
            <td><%= @space.website %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @space.is_active? %>
                <span class="text-success">有効</span>
              <% else %>
                <span class="text-secondary">閉店</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to "編集する", edit_admin_space_path, class: "btn btn-success mx-auto" %>
  </div>
</div>

<% @reviews.each do |review|%>

  <div class=card>
    <p><%= review.customer.name %></p>
    <p><%= review.rating %>点</p>

    <div id="rating-rate<%= review.id %>"></div>    
    <script>
      $('#rating-rate<%= review.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png') %>',
        readOnly: true,
        score: <%= review.rating || 0 %>,
        half: true
      });
    </script>
    
    <p><%= review.comment %></p>
    <p><%= link_to '投稿を削除', admin_review_path(review.id),method: :delete, data: { confirm: '本当にいいですか?' } %></p>
  
  </div>
<% end %>
