<div class="container my-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3 class="font-weight-bold mb-5">ジャンル一覧・追加</h3>
      <%= form_with model: @genre, url:admin_genres_path do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
          <%= f.label :name, "ジャンル名" %>
          <%= f.text_field :name, class: "ml-3 col-4"%>
          <%= f.submit '新規登録', class: "btn btn-success ml-3" %>
        </div>
      <% end %>

      <table class="table table-bordered mt">
        <thead>
          <tr class="bg-secondary text-light">
            <th class="d-flex align-items-center justify-content-center">ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td class="d-flex align-items-center justify-content-center" style="height:70px;"><%= genre.name %></td>
            <td><%= link_to '編集する',edit_admin_genre_path(genre.id), class: "btn btn-outline-success ml-3" %></td>
            <td><%= link_to '削除する',admin_genre_path(genre.id),method: :delete,"data-confirm" => "Are you sure?", class: "btn btn-outline-danger ml-3" %></td>
          <tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>