<div class="container my-5">

  <div class="row">
    <h3 class="border rounded shadow-sm font-weight-bold px-3">タグ一覧・追加</h3>
  </div>

  <%= form_with model: @tag, url:admin_tags_path do |f| %>

  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="form-group row">
        <%= f.label :name, "タグ名", class: "col-sm-3" %>
        <%= f.text_field :name, class: "col-sm-5" %>
        <%= f.submit '新規登録', class: "btn btn-success ml-5" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row mt-5">
    <div class="col-4">
      <table class="table table-bordered border-dark">
        <thead>
          <tr class="bg-secondary text-light">
            <th>タグ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= link_to '編集する',edit_admin_tag_path(tag.id), class: "btn btn-success" %></td>
            <td><%= link_to '削除する',admin_tag_path(tag.id),method: :delete,"data-confirm" => "Are you sure?", class: "btn btn-danger" %></td>
          <tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>