<%= search_form_for q, url: spaces_path do |f| %>

  <div class="border rounded">
    <h5 class="font-weight-bold my-3 ml-3">詳細検索</h5>

    <!-- 店舗名検索 -->
    <div class="form-group ml-3">
      <label>
        <i class="fa-solid fa-shop"></i>
        <span>店舗名から探す</span>
      </label>
      <%= f.search_field :name_cont, class: "input-default", placeholder: '例）スターバックス' %>
    </div>

    <!-- ジャンル検索 -->
    <div class="form-group ml-3">
      <label>
        <i class="fa-brands fa-searchengin"></i>
        <span>ジャンルから探す</span>
      </label>
      <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, { include_blank: '--選択してください--' } %>
    </div>

    <!-- エリア・駅名検索 -->
    <div class="form-group ml-3">
      <label>
        <i class="fa-solid fa-train"></i>
        <span>エリア・駅名から探す</span>
      </label>
      <%= f.search_field :address_or_transportation_cont, class: "input-default", placeholder: '例）東京、新宿' %>
    </div>

    <!-- 絞り込み検索（店舗の設備） -->
    <div class="form-group ml-3">
      <label>
        <i class="fa-solid fa-wifi"></i>
        <span>店舗の設備</span>
      </label>
      <div class="checkbox">
        <div class="checkbox-default">
          <label>
            <%= f.check_box :wifi_eq , {} , true, false %>
            Wi-Fi
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :outlet_eq , {} , true, false %>
            コンセント
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :private_room_eq , {} , true, false %>
            個室
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :smoking_eq , {} , true, false %>
            喫煙可
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :parking_eq , {} , true, false %>
            駐車場
            <i class="check-icon"></i>
          </label>
        </div>
      </div>
    </div>
    
    <div class="search-done-btn mb-3 d-flex align-items-center justify-content-center">
      <%= f.button "絞り込む", class: "btn-default btn-primary mr-3" %>
      <%= f.button "クリア", type: "reset", class: "btn-default btn-secondary" %>
    </div>
  <% end %>
</div>