<%= search_form_for q, url: spaces_path do |f| %>

  <div class="searches-body">
    <div class="search-body__subtitle">詳細検索</div>

    <!-- キーワード検索 -->
    <div class="form-group">
      <label>
        <i class="fas fa-plus icon"></i>
        <span>ジャンルから探す</span>
      </label>
      <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, { include_blank: '--選択してください--' } %>
    </div>

    <!-- エリア・駅名検索 -->
    <div class="form-group">
      <label>
        <i class="fas fa-tag icon"></i>
        <span>エリア・駅名から探す</span>
      </label>
      <%= f.search_field :address_or_transportation_cont, class: "input-default", placeholder: '例）東京、新宿' %>
    </div>

    <!-- 絞り込み検索（店舗の設備） -->
    <div class="form-group">
      <label>
        <i class="fas fa-star icon"></i>
        <span>店舗の設備</span>
      </label>
      <div class="checkbox">
        <div class="checkbox-default">
          <label>
            <%= f.check_box :wifi_eq , {} , true, false %>
            Wi-Fi
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :outlet_eq , {} , true, false %>
            コンセント
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :private_room_eq , {} , true, false %>
            個室
            <i class="check-icon"></i>
          </label>
        </div>
        <div class="checkbox-default">
          <label>
            <%= f.check_box :smoking_eq , {} , true, false %>
            喫煙可
            <i class="check-icon"></i>
          </label>
        </div>
    　</div>
    </div>
  </div>

  <div class="search-done-btn">
    <%= f.button "クリア", type: "reset", class: "btn-default btn-secondary" %>
    <%= f.button "検索", class: "btn-default btn-primary" %>
  </div>
<% end %>