<div class="container my-5">
  <div class="row">

    <div class="col-3 pr-5">
      <div "sidebar_fixed">
        <%= render 'public/spaces/searchform', q: @q, url: spaces_path %>
      </div>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <h3 class="border rounded shadow-sm font-weight-bold px-3 mb-4">全国の店舗</h3>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <%= render 'public/spaces/map', spaces: @spaces, url: spaces_path %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr class="bg-secondary text-light">
                <th class="d-flex align-items-center justify-content-center">店舗名</th>
                <th class="px-5">ジャンル</th>
                <th class="d-flex align-items-center justify-content-center">評価</th>
              </tr>
            </thead>
            <tbody>
            <% @spaces.each do |space| %>
              <tr>
                <td>
                  <%= link_to space_path(space.id), data: {"turbolinks"=>false}, class:"text-decoration-none" do %>
                    <%= image_tag space.get_image, size: '150x150' %>
                  <% end %>
                  <%= link_to space.name,space_path(space.id), data: {"turbolinks"=>false}, class:"text-decoration-none font-weight-bold pl-5"%>
                </td>
                <td class="d-flex align-items-center justify-content-center" style="height:180px;"><%= space.genre.name %></td>
                <td class="pt-5 pl-5">
                  <%= space.average_rating %>
                  <div id="rating-rate<%= space.id %>"></div>
                    <script>
                      $('#rating-rate<%= space.id %>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        starHalf  : '<%= asset_path('star-half.png') %>',
                        readOnly: true,
                        score: <%= space.average_rating || 0 %>,
                        half: true
                      });
                    </script>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row d-flex align-items-center justify-content-center">
  	    <div class="mt-5">
  	      <%= paginate @spaces %>
  	    </div>
      </div>
    </div>
  </div>
</div>